.new-task-page {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
}

.new-task-header {
    text-align: left;
}

.new-task-container {
    padding: 2rem 0;
}

@media (max-width: 768px) {
    .new-task-page {
        width: 100%;
        padding: 0;
    }
}
